
body {
  margin: 4% auto auto 4%;
}

.container {
  width: 90vw;
}

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  cursor: pointer;
  background-color: rgb(159, 228, 90);
}

.checked {
  background-color: rgb(230, 230, 73) !important;
}

.createRow {
  display: flex;
}

.delButton {
  margin-top: 10px;
}